.analytic{
    /* width: 70%; */
    flex: 70%;
    color: white;
    box-sizing: border-box;
    padding:0 40px;
}
.analytic_cards{
    display: flex;
    justify-content: space-between;
}
.analytic_head{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.analytic_2cards{
    /* height: 390px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.share_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.share_wrapper{
    font-size:12px ;
    font-weight: 400;
    display: inline-block;
    padding-right: 30px;
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1F1B37;
    border-radius: 15px;
    text-align: top;
}
.shareIcon{
    position: absolute;
    left: 97.4%;
    top: 21px;
}

