
.ProfileList_nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.6%;
}
.ProfileList_nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.profileList_arrow1{
 position: absolute; 
 top:0px ;
 padding-left: 3px;
}
.profileList_arrow2{
    position: absolute;
    top:0px ;
    padding-left: 3px;

}
