
.select_box2{
  position: relative;
  cursor: pointer;
}
.select_box2 p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


