.MonitorModal_selectors{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.MonitorModal_input3{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 50px;
    width: 96px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(250 , 250 , 250 , 0.1);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8;
    background-color:#211D39 ;
    color: white;
    outline:none
}
.MonitorModal_input{
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 150px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(250 , 250 , 250 , 0.1);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7;
    position: relative;
}
.monitorInput{
    margin-right: 18px;
}
.monitorInput1{
    margin-right: 18px;

}

::placeholder { 
    color:    white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
 }

 .monitorButton{
    margin-top: 30px;
 }