.notifi_container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 262px;
    margin: 5px 0px;
    padding: 5px 0px;
    position: relative;
}
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3F395C; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 60px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }

  ::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 110px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 0px;
}
