.sidebar{
    background-color: #1F1B37;
    color: white;
    /* max-width: 240px; */
    height: 100vh;
    z-index: 10;
    flex: 14%;
    /* width: 15%; */
    letter-spacing: 0.7px;
}
.sidebar_titles{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;

}
.sidebar_title{
    display: flex;
    align-items: center;
    height: 35px;
    width: 150px;
    padding: 0px;
}
.sidebar_name{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
}
.clicked{
    font-weight: 700;

}
.sidebarCard_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 180px; */
    margin-top: 145px;
    position: relative;
}
.sidebar_btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #3D375E;
    width: 71%;
    padding: 14px 14px;
    margin-top: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.sidebar_cloud{
    position: absolute;
    left: 31%;
}

.sidebar_dote{
    position: absolute;
    right: -5px;
}
.setting_icon{
    padding-top: 8px;
}
.colored_icon{
    padding-left: 3px;
    color: blueviolet;
}