.chart_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    /* width: 640px; */
    padding-left: 18px;
    max-width: 100%;
}
.chart_header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    box-sizing: border-box;
}
.chart_header2{
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 40px;
    align-items: center;
    line-height: 15px;
    position: relative;
    margin-bottom: 0px;
}
.chart_header2_p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
}

.years{
     padding-right: 25px;
}
.chart_header2box{
    display: flex;
    width: 42%;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.4;
    position: relative;
}
.chart_header_a{
    text-decoration: none;
    display: inline-block;
    background-color: #282443;
    padding: 12px 12px;
    border-radius: 50%;
    margin-top: 5px;
}
.chart_header_a2{
    text-decoration: none;
    display: inline-block;
    background-color: #282443;
    padding: 12px 12px;
    border-radius: 50%;
    margin-top: 5px;
}
.chart_arrow1{
    position: absolute;
    left: 4px;
    cursor: pointer;
    top: 8px;
}
.chart_arrow2{
    position: absolute;
    left: 38px;
    cursor: pointer;
    top: 8px;

}
.chart_years{
    display: flex;
    justify-content: space-between;
    width: 17%;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}
.chart_years1{
    color: #27DAE1 ;
    margin-bottom: 0px;
}
.chart_years2{
    opacity: 0.4;
    margin-bottom: 0px;
}
.yearsChoice{
    width: 10.5%;
}

.chart_calendar{
    position: absolute;
    right: 19px;
    top: 10px;
}
