.box{
    /* position: relative; */
    box-sizing: border-box;
    width: 70px;
    cursor: pointer;
}
.box p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectList{
    position: absolute;
    z-index: 10;
    right: 20px;
}