.nav{
    background-color: #282443;
    box-sizing: border-box;
    display: flex;
    height: 70px;
}

.nav_title{
    display: flex;
    width: 94.7%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.nav_icons{
    display: inline-block;
    padding: 16px 16px;
    background-color: #5D5781;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 6px;
}
/* .background{
    display: block;
    padding: 18px 18px;
    margin-top: 10px;
    
} */
.nav_icons_box{
   position: relative;
   /* display: flex;
   justify-content: space-between;
   align-items: center; 
   height: 100%; */
}

.nav_p{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.what{
    position: absolute;
    left: 14px;
    top: 7px;
    cursor: pointer;

}
.notification{
    position: absolute;
    left: 63px;
    top: 9px;
    cursor: pointer;

}
.avatar{
    position: absolute;
    left: 89px;
    /* left: 50px; */
    top: -5px;
    cursor: pointer;
    z-index: 20;

}
.ellipse{
    position: absolute;
    right: 66px;
    top: 7px;
}
.notifi_background{
    display: inline-block;
     padding: 14px 14px; 
    /* background-color: #4d4c50; */ 
    border: 6px solid #8e8eb3  ;
    border-radius: 10px;
    position: absolute;
    opacity: 0.2;
    right: 54px;
    top: -20px;
}
.notifi_hook{
    position: absolute;
    display: inline-block;
    padding: 11px 11px;
    background-color: #312C4E;
    right: 82px;
    top: 57px;
    border-radius: 4px;
    transform: rotate(42deg);
    z-index: 10;
    border-bottom-right-radius: 100%;
    
}